@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2b2c34;
}

@layer components {
  .wrapper {
    @apply w-[85%] m-auto;
  }
  .logo {
    @apply font-semibold text-4xl text-logo-primary leading-5;
  }
  img {
    @apply w-full h-full object-cover;
  }
  h1 {
    @apply text-[64px] font-bold leading-[81px] capitalize mt-2;
  }
  h2 {
    @apply font-bold text-2xl leading-7 capitalize text-left s-mb:text-base;
  }
  h3 {
    @apply font-bold text-xl leading-6 s-mb:text-sm;
  }
  h4 {
    @apply font-bold text-4xl leading-6 s-mb:text-sm;
  }
  .paragraph {
    @apply text-xl text-dark-grey leading-6 border-l-4 border-base border-solid pl-2;
  }
  .paragraph-2 {
    @apply text-xl leading-6;
  }
  .card-category {
    @apply pl-7 pt-8 rounded-lg bg-white cursor-pointer hover:bg-logo-seconday hover:text-white;
  }
  .author-name {
    @apply font-semibold text-base leading-5;
  }
  .author-date {
    @apply text-sm leading-4 capitalize;
  }
  .category-grid {
    @apply grid grid-cols-[repeat(auto-fit,minmax(220px,1fr))] auto-rows-[280px] gap-[50px] justify-between pt-12;
  }
  .article-grid {
    @apply grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] auto-rows-[516px] gap-[50px] justify-between pt-12;
  }
}

@media only screen and (max-width: 767px) {
  .logo h1 {
    font-size: 22px;
  }
  .signin-btn {
    padding: 10px 12px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (max-width: 1310px) {
  .hero-container {
    flex-direction: column;
    padding-top: 36px;
  }
  .hero-container h1 {
    font-size: 38px;
    line-height: 38px;
  }
  .hero-container p {
    font-size: 16px;
    line-height: 20px;
  }
  .hero-illustration {
    width: 80%;
    order: -999;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    width: 90%;
  }
}
